html {
    font-size: 1.10em;
}

body {
    background-image: url(background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    color:whitesmoke;
    font-size: 1.10em;
}